.draftpod-bootbox-dialog .btn {
  padding: 0.5rem 1.25rem;
  min-width: 100px;
}

.draftpod-bootbox-dialog .bootbox-body {
  font-size: 1.1em;
}

.draftpod-bootbox-dialog .modal-header{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3A3F44 !important;
}

.draftpod-bootbox-dialog .modal-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.draftpod-bootbox-dialog .hidden-button {
  display: none;
}

@media (min-width: 992px) {
  .draftpod-bootbox-dialog .modal-lg {
    max-width: 600px;
  }
}
