.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Code coverage reports
/coverage

# nightwatch reports/log
/tests/e2e/reports
selenium-server.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.Rhistory

# Local card image cache
/public/images/cards/*
.Rproj.user

# Firebase cache and config
.firebaserc
.firebase/*

