

body {
  background-color: #fff;
  color: darkslategray;
}

.container {
  margin-top: 70px;
}

@media (min-width: 1200px) {
.container {
    max-width: 960px;
}
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: none;
}

.modal-dialog {
  color: #aaa;
}


.tabs-header .nav-link {
  color: rgba(255,255,255,0.5);
}

.tabs-header .nav-link.active,
.tabs-header .nav-link:hover {
  color: #fff;
}

