
.draft-page {
  position: fixed;
  top: 37px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(#8a9196, #7A8288 80%, #70787d);
  background-repeat: no-repeat;
  background-color: transparent;
}


.card-select-panel {
  background: transparent;
}

.card-select-panel .card {
  padding: 0;
}

.draft-page .card-select-panel .card-body {
  padding: 0;
  background-color: transparent;
}

.card-select-panel .mtgcard img {
  width: 10.8%;
  min-height: 14.00%;
  margin-bottom: 3px;
}


@media only screen and (max-width: 1000px) {
  .card-select-panel .mtgcard img {
    width: 10%;
    min-height: 13.95%;
  } 
}


.mobile .card-select-panel .mtgcard img {
  width: 12.1%;
}

.mobile .draft-cards .card-select-panel{
  padding-bottom: 34%;
}

.phone .card-select-panel .mtgcard img {
  width: 17.5%;
}

.phone .draft-cards .card-select-panel {
  height: 47%;
  padding-bottom: 0;
  overflow: hidden;
  width: 100%;
  padding-right: 10px;
}

.phone .draft-cards .card-select-panel .card-select-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.draft-cards .card-select-panel {
  flex: 0 1 auto;
  margin: 5px;
  margin-bottom: 0;
  height: 0;
  overflow: visible;
  padding-bottom: 30.2%;
}

@media only screen and (max-width: 1000px) {
.draft-cards .card-select-panel {
  padding-bottom: 27.9%;
}
}


